{
  "presets": [
    "next/babel"
  ],
  "plugins": [
    [
      "inline-import",
      {
        "extensions": [
          ".css"
        ]
      }
    ]
  ],
  "env": {
    "test": {
      "presets": [
        ["env", { "modules": "commonjs" }],
        "next/babel"
      ]
    }
  }
}